.title-red {
    color:green;
}
.header {
    width: 100%;
    background-color: rgb(255, 187, 0);
    height: 300px;
    text-align: center;
    font-size: 60px;
    font-family: Arial;
}
.Content {
    width: 100%;
    background-color: blueviolet;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}
.footer {
    width: 100%;
    background-color: yellow;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}.Esto{
    width: 100%;
    background-color: aqua;
    height: 200px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}